h1{ 
    text-align: center;
    font-family: "Trebuchet MS";
}
h2{
 text-align: center;
}
h5{
    text-align: center;
    font-family: "Geneva";
    font-weight: bold;
    text-shadow: 3px 2px #ff0000;
}


p{
    text-align: center;
    font-family: Courier;
}
img{
    display: block;
     margin-left: auto;
     margin-right: auto;

}
body {
    background-color: grey;
}
ul {
    font-family: "Lucida";
    text-align: center;
    font-weight: bold;
}
li {
    font-family: "Lucida";
    text-align: center;
    
}
a {
    text-align: center;
    font-family: "Courier";
}
